<!--
 This file is the html part of the VpnWebSelector
 Copyright © 2016 Janosch Deurer
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.
 
 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VpnWebSelector</title>
  <script src="./angular.js"></script>
  <script src="./angular-material.js"></script>
  <script src="./angular-animate.min.js"></script>
  <script src="./angular-aria.min.js"></script>
  <script src="./vpnwebselector.js"></script>
  <link rel="stylesheet" href="./angular-material.css">
  <link rel="stylesheet" href="./main.css">
</head>
<body ng-app="VpnWebSelector">
  <h1>VpnWebSelector</h1>
  <div class="wrapper" ng-controller="QuerryController as ctrl" layout="column" layout-gt-md="row" ng-cloak>
    <md-content flex class="md-padding">
      <div class="config">
        Selected config: {{ctrl.selectedConfig}}
      </div>
      <form ng-submit="ctrl.submit()">
        <md-autocomplete
        md-no-cache="true"
        md-autoselect="true"
        md-selected-item="ctrl.selectedItem"
        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
        md-search-text="ctrl.searchText"
        md-selected-item-change="ctrl.selectedItemChange(item)"
        md-items="item in ctrl.querySearch(ctrl.searchText)"
        md-item-text="item"
        md-min-length="1"
        placeholder="Search for a VPN config here">
        <md-item-template>
        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
        No states matching "{{ctrl.searchText}}" were found.
        </md-not-found>
        </md-autocomplete>
        <br/>
        <md-button class="md-raised" type="submit">Connect</md-button>
        <md-button ng-click="ctrl.reconnect()" class="md-raised">Reconnect</md-button>
        <md-button ng-click="ctrl.closeConnection()" class="md-raised md-warn">Close Connection</md-button>
      </form>
    </md-content>
    <md-content flex layout-padding class="shellOutput">{{ctrl.shellOutput}}</md-content>
  </div>
</body>
</html>
