@font-face {
  font-family: 'NotoSans';
  src: url('./NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('./NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('./NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('./NotoSans-Bold.ttf') format('truetype');
  font-weight: bold; 
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #eee8d5;
}

.shellOutput {
  margin: 15px;
  height: 400px;
  background-color: #DDDDDD;
  white-space: pre;
}

.config {
  background-color: #eee8d5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  
}

md-content {
  background-color: #fdf6e3;
}

body {
  background-color: #fdf6e3;
}
