@font-face {
  font-family: 'NotoSans';
  src: url('./NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('./NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('./NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('./NotoSans-Bold.ttf') format('truetype');
  font-weight: bold; 
}

h1 {
  font-size: 40px;
  text-align: center;
}
